:root {
  --gourmet-beige: #bda96f;
  --gourmet-btn-hover: #a58f4d;
}

body {
  min-height: 100vh;
  background: #fff;
}

.banner {
  position: relative;
  height: 550px;
  margin-top: 56px;
  background: url("../images/banner.jpg") center/cover no-repeat;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.banner .banner__content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 1rem;
  z-index: 2;
}

.features {
  padding: 2rem 0;
  background-color: #fff;
}

.features p {
  color: #212529;
  font-size: 1.2rem;
  font-weight: 300;
}

.features .features__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features .features__item img {
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: center;
}

.btn-gourmet {
  background-color: var(--gourmet-beige);
  border: none;
  color: #212529;
}

.btn-gourmet:hover {
  background-color: var(--gourmet-btn-hover);
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: #212529;
  background-color: var(--gourmet-btn-hover);
}

.navbar-nav {
  padding: 0.6rem 0;
}

.navbar-nav .nav-link {
  font-size: 1.3rem;
  padding: 0.6rem 1.5rem;
}

.navbar-nav .nav-link:hover {
  color: var(--gourmet-beige);
  background-color: #f0f0f0;
}

.navbar-nav .nav-link.active {
  color: #212529;
  font-weight: 500;
  border-bottom: 2px solid var(--gourmet-beige);
}

.daily-offers__title,
.menu__title,
.gallery__title,
.reservation__title {
  color: var(--gourmet-beige);
  font-size: 3rem;
  margin: 1.2rem 0 3rem 0;
}

.daily-offers__divider {
  margin: 5rem 0;
}

.offer__heading,
.restaurant__heading {
  color: var(--gourmet-beige);
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
  .offer__heading,
  .restaurant__heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .offer__heading,
  .restaurant__heading {
    margin-top: 7rem;
  }
}

.table {
  font-size: 1.2rem;
  font-weight: 300;
  color: #212529;
}

.table__img {
  width: 125px;
  height: 85px;
  object-fit: cover;
}

.table__name,
.table__price {
  min-width: 120px;
  text-align: right;
  padding-right: 25px;
  color: var(--gourmet-beige) !important;
  font-weight: 500;
}

.table__name {
  text-align: left;
}

.gallery {
  margin: 3rem 0;
}

.gallery__img {
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.reservation {
  font-size: 1.2rem;
  font-weight: 300;
  color: #212529;
}

.error {
  color: #da3030;
  float: right;
  font-weight: 400;
}

.reservation__info {
  font-size: 1.2rem;
  font-weight: 300;
  color: #212529;
}

.reservation__info ul {
  list-style-type: none;
}

.reservation__pictures {
  margin-top: 2rem;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
